
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --primary-blue: #1976D2;
  --dark-bg: #0A0A10;
  --light-text: #f0f0f0;
  --medium-text: #a0a0a0;
}

body {
  background: var(--dark-bg);
  color: var(--light-text);
  font-family: 'Inter', sans-serif;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Scrollbar styling */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--dark-bg);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-blue);
  border-radius: 5px;
  border: 2px solid var(--dark-bg);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #42a5f5; /* Lighter blue on hover */
}
